<a href="https://colab.research.google.com/github/liquidcarbon/sql_interview/blob/master/SQL_Interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Setup
Add databases with data for other test questions in the same fashion.  The database will be created and populated by running the cell below.  The notebook is ready for an interview.  

*Optional:* download and save the `interview.sqlite` file from the **Files** tab on the left.

In [0]:
import numpy as np
import pandas as pd
import secrets
import sqlite3
import time

accounts = [secrets.token_hex(2) for i in range(5)]
event_types = ['PLAY','STOP','ERROR']
time_now = int(time.time()*1e3)
N = 100
df = pd.DataFrame({
    'account': np.random.choice(accounts, size=N),
    'event': np.random.choice(event_types, p=[.5, .3, .2], size=N),
    'timestamp': [(time_now) - np.random.randint(0, 1e6) for i in range(N)],
}).sort_values(['timestamp'])
conn = sqlite3.connect('interview.sqlite')
df.to_sql('events', conn, if_exists='replace', index=False)

## Test the database

In [2]:
pd.read_sql('SELECT * FROM events', conn)

   account  event      timestamp
0     b000   STOP  1588172210445
1     b46b   STOP  1588172214709
2     349f  ERROR  1588172217595
3     b000   PLAY  1588172220304
4     de2a  ERROR  1588172231575
..     ...    ...            ...
95    349f   PLAY  1588173155454
96    806c   STOP  1588173159989
97    de2a   PLAY  1588173169490
98    b46b   PLAY  1588173174259
99    de2a  ERROR  1588173188615

[100 rows x 3 columns]

## Sample Task
We have a table `events` that looks like this:
```
events (
  account STRING,
  event STRING,
  timestamp DATETIME
)
```
Provide counts of each event type for each account.
```
output (
  account STRING,
  event1_count INT,
  event2_count INT,
  event3_count INT
)
```

In [0]:
# populate the query to solve the problem
q = '''

'''
# result = pd.read_sql(q, conn)
# result

In [4]:
# solution - using CASE because SQLite does not have IF
q = '''
SELECT
  account
  ,SUM(CASE event WHEN 'PLAY' THEN 1 ELSE 0 END)  AS count_PLAY
  ,SUM(CASE event WHEN 'STOP' THEN 1 ELSE 0 END)  AS count_STOP
  ,SUM(CASE event WHEN 'ERROR' THEN 1 ELSE 0 END) AS count_ERROR
FROM events
GROUP BY account
'''
result = pd.read_sql(q, conn)
result

  account  count_PLAY  count_STOP  count_ERROR
0    349f           6           5           10
1    806c          11           3            3
2    b000           9           8            4
3    b46b          11           6            5
4    de2a           8           6            5